body{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}
button{
    background-color: transparent;
    border-radius: 40px;
    margin-right: 50px;
    cursor: pointer;
}
.esqdir{
    display: flex;
    justify-content: center;
    margin-right: 15px;
}
.pedro{
    position: absolute;
    top: 40%;
    left: 00%;
}